/*
 * -------------------------------------------------
 *  ILIFU cluster config file (Tychus Assembly module)
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   cacheDir = "/cbio/projects/025/images/" 
}

env {
TRIMMOMATIC='/opt/Trimmomatic-0.36' //KL specify Trimmomatic location in singularity image
CISA='/opt/CISA1.2' //CISA location in singularity image
}

process {
   container = "/cbio/projects/025/images/769bd43d8bc4-2019-03-04-4d3032297a78.img"
   
   withName:  AnnotateContigs{
   container='/cbio/projects/025/images/prokka_latest.simg'
   }

   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main' //KL new queue name on HPC?
   // Output directory specification
   assembly_output = "tychus_assembly_output"
   assembly_out_dir = "$baseDir/" + params.assembly_output
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}

timeline {
		  enabled = true
		  file = "${params.assembly_out_dir}/pipeline_info/Tychus_assembly_timeline.html"
		}
      
report   {
		  enabled = true
		  file = "${params.assembly_out_dir}/pipeline_info/Tychus_assembly_report.html"
		}
      
trace    {
		  enabled = true
		  file = "${params.assembly_out_dir}/pipeline_info/Tychus_assembly_trace.txt"
		}
      
dag      {
		  enabled = true
		  file = "${params.assembly_out_dir}/pipeline_info/Tychus_assembly_DAG.svg"
		}
      
executor{
   jobName = { "$task.tag" }
   queueSize = 20
}

params {
   max_memory = 232.GB
   max_cpus = 32
   max_time = 336.h
   trace.overwrite = true
   dag.overwrite = true
}


