/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   cacheDir = "/cbio/projects/025/images/" 
}

   env {
TRIMMOMATIC='/opt/Trimmomatic-0.36' //KL specify Trimmomatic location in singularity image
KSNP3='/usr/local/kSNP3'
FIGTREE='/opt/FigTree_v1.4.4/lib'

//JAVA='/ceph/cbio/soft/jdk-11.0.2/bin'
}

   	/*--------------------------------*
 	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
params {
   //Path to the FASTA formatted resistance database
   	amr_db = "/cbio/projects/032/Genomics/treegeneration/fsa/resfinder.fsa"
   //Path to FASTA formatted annotation DB (greying out for now, not actually used in alignment.nf??)
	//annot_db = ""
   //Path to the FASTA formatted Pseudomonas virulence database
	 vf_db = "/cbio/projects/032/Genomics/treegeneration/fsa/VFDB/VFDB_setB_nt.fas"
   //Path to the FASTA formatted E. coli virulence database
	//vf_db = "/cbio/projects/025/Tychus_DBs/SL_KL_ecoli_stx.fsa"
   //Path to the FASTA formatted plasmid database
	plasmid_db = "/cbio/projects/032/Genomics/treegeneration/fsa/plasmidfinder/plasmidfinder.fsa"
   //Path to the FASTA formatted draft databases
	draft = ""
   //Path to FASTA formatted pseudomonas reference genome
   	//genome = "/cbio/projects/025/Tychus_DBs/GCA_000006765_1_ASM676v1_genomic.fna"
   	genome = "/cbio/projects/032/Genomics/genomes_afr_eas_uk_usa/contigs/GCF_017821535.1.fna"
   //Path to FASTA formatted E. coli reference genome
   	//genome = "/cbio/projects/025/Tychus_DBs/GCA_000005845_2_ASM584v2_genomic.fna"
   //Path to FASTA formatted tutorial test reference genome
   	//genome = "$baseDir/tutorial/reference/EcoliK-12MG1655.fa"
   // Output directory specification
   //alignment_output = "tychus_alignment_output"
   alignment_out_dir = "$baseDir/" + params.alignment_output
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}


process {
   container = "/cbio/projects/025/images/9ff90752d54d-2019-03-11-75bcd10cdf4c.img"
   // tychus_alignment-20230626.simg"
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main'
   
}

timeline	{
	enabled = true
	overwrite =  true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_timeline.html"
	}
	
report		{
	enabled = true
	overwrite =  true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_report.html"
	}
	
trace		{
	enabled = true
	overwrite = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_trace.txt"
	}
	
dag		{
	enabled = true
	overwrite = true
	file = "${params.alignment_out_dir}/pipeline_info/Tychus_alignment_DAG.svg"
	}


executor{
   jobName = { "$task.tag" }
   queueSize = 15
}

params {
   max_memory = 256.GB
   max_cpus = 64
   max_time = 1000.h
}
